<div class="row g-5 position-relative">
  <div class="col-4" *ngFor="let book of books">
  <div class="card h-100 p-3">
    <h3>{{book.title}}</h3>
    <img class="img-fluid" src="http://localhost:3000/images/{{book.image}}" alt="book-image">
    <div class="row my-3">
      <div class="col-8">
        <h6>Author: {{book.author}}</h6>
      </div>
      <div class="col-4 text-end">
        <h6>{{book.price}} EGP</h6>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="/books/single/{{book._id}}" class="btn btn-primary col-5 me-2 mb-2">View Details</a>
      <a routerLink="" class="btn btn-primary col-5 mb-2">Buy</a>

      <a *ngIf="userServices.user?.role == 'admin'" 
      class="btn btn-primary col-5 me-2 mb-2">Update</a>

      <a *ngIf="userServices.user?.role == 'admin'" 
      class="btn btn-primary col-5 mb-2" (click)="top(book._id)" >Delete</a>

    </div>
  </div>
    
  </div>
  <div class="deleteDialogue text-center w-50 p-5" *ngIf="deleteDialogue">
    <h4>Are You Sure You want to delete this item?</h4>
    <button (click)="deleteBook()" class="me-3">Ok</button>
    <button (click)="deleteDialogue=!deleteDialogue">Cancel</button>
  </div>
</div>