<div class="row g-5">
  <div class="col-4" *ngFor="let book of books">
  <div class="card h-100 p-3">
    <h3>{{book.title}}</h3>
    <img class="img-fluid" src="http://localhost:3000/images/{{book.image}}" alt="book-image">
    <div class="row my-3">
      <div class="col-8">
        <h6>Author: {{book.author}}</h6>
      </div>
      <div class="col-4 text-end">
        <h6>{{book.price}} EGP</h6>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="/books/single/{{book._id}}" class="btn btn-primary col-5 me-2 mb-2">View Details</a>
      <a routerLink="" class="btn btn-primary col-5 mb-2">Buy</a>

      <a *ngIf="userServices.user?.role == 'admin'" 
      class="btn btn-primary col-5 me-2 mb-2">Update</a>

      <a *ngIf="userServices.user?.role == 'admin'" 
      class="btn btn-primary col-5 mb-2">Delete</a>
    </div>
  </div>
    
  </div>
</div>