<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Edit Your Profile</h2>

            <form [formGroup]="editForm" (ngSubmit)="handelEdit() ">
              <div class="form-outline mb-4">
                <input required minlength="6" maxlength="20" name="username" type="text" id="form3Example1cg"
                  class="form-control form-control-lg" formControlName="userName" />
                <label class="form-label" for="form3Example1cg">Your User Name</label>
              </div>

              <div class="form-outline mb-4">
                <input required name="email" type="email" id="form3Example3cg"
                  class="form-control form-control-lg" formControlName="email" />
                <label class="form-label" for="form3Example3cg">Your Email</label>
              </div>
              <div class="form-outline mb-4">
                <input required name="avatar" type="url" id="form3Example3cg" class="form-control form-control-lg"
                  formControlName="avatar" />
                <label class="form-label" for="form3Example3cg">Your avatar link </label>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                  Edit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>