<div class="card h-100 m-auto p-5">
  <div class="row h-100">
    <div class="col-4 h-100">
      <img class="img-fluid h-100 w-100" src="{{urlImage}}{{book?.image}}" alt="book-image">
    </div>
    <div class="col-4 position-relative">
        <h2>{{book?.title}}</h2>
        <h3>By {{book?.author}} - {{book?.category}}</h3>
        <p class="mb-5">Pages Count: {{book?.numOfPages}}</p>
        <p class="fs-6">Description: {{book?.description}}</p>
        <a routerLink="" class="col-6 btn btn-primary position-absolute bottom-0">Add To Cart</a>
    </div>
    <div class="col-4 text-end">
      <h2>{{book?.price}} EGP</h2>
    </div>
  </div>
</div>